# Pliki kompilowane
__pycache__/
*.pyc
*.pyo
*.pyd

# Środowisko wirtualne
venv/
.env/
.venv/

# Pliki systemowe
.DS_Store
Thumbs.db

# Pliki z PyCharm
.idea/

# Pliki logów
*.log

# Pliki konfiguracyjne lokalne
*.ini
*.cfg

#Plik związany z high score
high_score.txt
